body{
font-family: 'Poppins', sans-serif;
margin:0;
background:#0f172a;
color:white;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111827;
}

.logo{
font-size:22px;
font-weight:700;
color:#60a5fa;
}

.nav-links button{
margin-left:10px;
}

/* buttons */

.btn{
padding:10px 18px;
border-radius:10px;
border:none;
cursor:pointer;
font-weight:600;
}

.btn-primary{
background:#6366f1;
color:white;
}

.btn-green{
background:#22c55e;
color:white;
}

.btn-pink{
background:#ec4899;
color:white;
}

/* hero */

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:60px;
}

.hero span{
color:#a855f7;
}

/* cards */

.card{
background:#1f2937;
padding:25px;
border-radius:14px;
margin-bottom:20px;
}

/* grid */

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

/* skill tags */

.skill{
background:#6366f1;
padding:4px 10px;
border-radius:6px;
font-size:12px;
margin-right:5px;
}

/* container */

.container{
max-width:1100px;
margin:auto;
padding:50px 20px;
}